#tackle-field{
    background-image: url("./img/brown-close-up-hd-wallpaper-172289.jpg");
    background-attachment: fixed;
    background-position: 75% 30%;
    background-size: cover;
}


#baseline{
    padding-top: 2%;
    
    text-align: center;
}
#secondNav{
    padding-left:1%;
    padding-right:1%;
}

#shopDepartments{
    background-color: white;
    color: black;
    border-color: white;
    padding-top: 0%;

}

#border{
    border-right: dotted;
    border-width: 2px;
    width:20%;
    padding-bottom: 1%;
    
}
#border-padding{
    border-right: dotted;
    border-width: 2px;
    width:30%;
    padding-left:0px;
    padding-right: 0px;
    padding-bottom: 1%;
    
}
#border-depart{
    border-right: dotted;
    border-width: 2px;
    width:30%;
    padding-bottom: 1%;
    
}

#item-sections{
    padding: 5%;
    width: 100%;
    margin: 0;
}

.responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.responsive-lrg {
    width: 100%;
    max-height: 600px;
    height: 75%;
}

.responsive-bg-1 {
    width: 100%;
    max-height: 600px;
    height: 500px;
    background-size: 100% 100%;
    background-image: url("./img/brown-close-up-hd-wallpaper-172289.jpg")
    
}

.responsive-bg-2 {
    width: 100%;
    max-height: 600px;
    height: 500px;
    background-size: 100% 100%;
    background-image: url("./img/beach-blue-bouy-190294.jpg")
  
    
}





a.nav-link{
    padding:0;
}

.parallax { 
    /* The image used */
    background-image: url("./img/Tackle-Bottom-Image.png");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    /* background-attachment: fixed;
    background-position: center center; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#join-group{
padding: 2%;

}

#footer{
    padding: 5%;



}

